/* poppins font from googlr fonts */

/* shared styles */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
    height: 3306px;
    background: #FFF;
}

/* header section */
header{
    padding: 50px 80px 50px 120px;
}
/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #3A3A3A;
    font-size: 1.5rem;
    font-weight: 700;
}
ul{
    display: flex;
    align-items: center;
    cursor: pointer;
}
li{
    list-style: none;
    margin-right: 30px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
li:hover{
    color: orangered;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;

}
.banner-title{
    width: 582px;
    color: #3A3A3A;
    font-size: 3.25rem;
    font-weight: 700;
}
.banner-description{
    width: 505px;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
    padding-top: 16px;
}
.btn-primary{
    font-size: 1rem;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;
    color: #FFF;
    gap: 8px;
    cursor: pointer;
    margin-top: 16px;
}
.btn-primary:hover{
    color: black;
}
.banner-img{
    background: url('../images/Circle.png'), no-repeat;
}
.main{
    padding-top: 2rem;
}
.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    width: 90%;
    margin: 90px auto;
    background-color: rgba(255, 144, 14, 0.10);
    padding: 20px;
}
/* main section start */



